.vs
build
build_sdl
build_sdl2
local.properties
android/SDL2_image_src
android/SDL2_mixer_src
android/SDL2_ttf_src
android/SDL2_src
android/app/.cxx
android/.gradle
android/.idea
diff
*.obj
*.exe
resources/original.ico
log.txt
scripts/dls
scripts/prefix
build.ninja
__pycache__

android/app/src/main/assets
obj/
config
config_*

android/startDebug.bat
src_bak

source3rdparty
ports/window98/SDL*
ports/window98/Release
ports/window98/CMakeFiles
ports/window98/*ds*
ports/window98/cmake_install.cmake
ports/window98/th06.plg
ports/window98/.clang-format
ports/window98/CMakeCache.txt

ports/xbox360/ipch
ports/xbox360/th06xbox360
ports/xbox360/th06xbox360.suo
ports/xbox360/th06xbox360.sdf

3rdparty/SFML
3rdparty/RAYLIB6